.header {
   position: sticky;
   top: 0;
   z-index: calc(var(--layer-top-header) + 1);
   display: flex;
   width: 100%;
   padding: 1rem;
   background-color: white;

   @include tablet-base-layout {
      z-index: var(--layer-top);
   }

   &--modal-handler {
      display: none;

      @include tablet-base-layout {
         display: flex;
      }

      svg {
         width: rem(24);
         height: rem(24);
         color: black;
      }
   }
}
