.orders--container {
   position: relative;
   display: grid;
   gap: 0;
   grid-template-columns: 1fr 0fr;
   width: 100%;
   overflow: hidden;

   > * {
      min-width: 0;
   }
}

.order-details {
   width: 100%;
   overflow: hidden;
   background-color: red;
}
