.order-form {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   margin-top: 2rem;

   &__error {
      margin-top: 0.25rem;
      color: red;
   }

   &--submit-btn {
      width: 100%;
      margin-top: 3rem;
   }
}
