.product-in-order {
   display: grid;
   gap: 1rem;
   grid-template-columns: 2rem 1fr 2rem;
   width: 100%;
   height: fit-content;
   padding: 1rem 0.5rem;

   &:not(:last-child) {
      border-bottom: 1px solid rgb(0 0 0 / 25%);
   }

   @include mobile {
      grid-template-columns: 1fr 1fr;
   }

   &--image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 0.25rem;

      @include mobile {
         width: 2rem;
         place-self: start start;
      }

      svg {
         width: 100%;
      }
   }

   &--remove {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 0.25rem;
      color: black;

      @include mobile {
         width: 2rem;
         place-self: start end;
         grid-column: 2/3;
         grid-row: 1/2;
      }

      @include animation-on-hover {
         color: var(--green);
      }

      svg {
         width: 100%;
         color: inherit;
      }
   }

   .product--details {
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr auto;

      @include mobile {
         display: flex;
         flex-direction: column;
         grid-column: span 2;
      }

      &--title {
         display: flex;
         flex-direction: column;
         gap: 0.25rem;

         .product-name {
            font-size: rem(18);
         }
      }

      &--prices {
         display: flex;
         flex-direction: column;
         gap: 0.125rem;

         @include mobile {
            display: grid;
            grid-template-columns: 1fr 1fr;
         }
      }
   }
}
